@import "mixins";

.g-tabbar {
    width: 100%;
    display: flex;
    height: $tabbar-height;
    background-color: #fff;

    &-item {
        flex: 1;
        @include flex-center(column);

        img {
            width: $icon-img-size;
            height: $icon-img-size;
        }
    }
}